{% extends 'app/base.html' %}
{% load static %}
{% block title %}Catalogo | Conejo Furioso{% endblock %}
{% block tittle_css %}

{% endblock %}

{% block content %}
{% load humanize %}

<div class="d-flex align-items-center" style="min-height: 80vh">
    <div class="container mt-5 pt-5 p-4 rounded shadow" style="background-color: white">
        <div class="row justify-content-center">
            <!-- Imagen ocupando 5 columnas -->
            <div class="col-md-5">
                <img src="{{ product.image }}" class="img-fluid" alt="Descripción de la imagen" />
            </div>
            <!-- Contenido ocupando 7 columnas -->
            <div class="col-md-7 text-start">
                <div>
                    <h1>{{ product.name | upper }}</h1>
                    <br />
                    <h4>Descripción del producto</h4>
                    <p>{{ product.description }}</p>
                    <p>Categoría: {{ product.category.name }}</p>
                    <p>Volumen: 330 cc.</p>
                    <h4><b>${{ product.price | intcomma }}</b></h4>
                </div>
                {% if product.stock > 0 %}
                <div>
                    <a href="{% url 'Add' product.id %}" class="btn btn-default bg-primary-3 add-to-cart-btn">Agregar al
                        Carrito</a>
                </div>
                {% else %}
                <div>
                    <h4 class="text-center"><b>Sin Stock</b></h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}