{% extends 'app/base.html' %}
{% load static %}
{% block title %}Catalogo | Conejo Furioso{% endblock %}
{% block tittle_css %}

{% endblock %}

{% block content %}
{% load humanize %}

<div class="d-flex align-items-center" style="min-height: 80vh">
    <div class="container mt-5 pt-5 p-4 rounded shadow" style="background-color: white">
        <div class="row justify-content-center">
            <!-- Imagen ocupando 5 columnas -->
            <div class="col-md-5">
                <img src="{{ product.image }}" class="img-fluid" alt="Descripción de la imagen" />
            </div>
            <!-- Contenido ocupando 7 columnas -->
            <div class="col-md-7 text-start">
                <div>
                    <h1>{{ product.name | upper }}</h1>
                    <br />
                    <h4>Descripción del producto</h4>
                    <p>{{ product.description }}</p>
                    <p>Categoría: {{ product.category.name }}</p>
                    <p>Volumen: 330 cc.</p>
                    <h4><b>${{ product.price | intcomma }}</b></h4>
                </div>
                {% if product.stock > 0 %}
                <div>
                    <a href="{% url 'Add' product.id %}" class="btn btn-default bg-primary-3 add-to-cart-btn">Agregar al
                        Carrito</a>
                </div>
                {% else %}
                <div>
                    <h4 class="text-center"><b>Sin Stock</b></h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>OTROS PRODUCTOS</h1>
</div>
<div class="container p-4 rounded shadow" style="background-color: white">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in products %}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100">
                {% if p.image %}
                <img src="{{ p.image }}" class="card-img-top" alt="{{ product.name }}" style="height: 150px" />
                {% else %}
                <div class="missing-image">Imagen no disponible</div>
                {% endif %}
                <div class="card-body text-center">
                    <div class="row">
                        <h5 class="card-title">{{ p.name }}</h5>
                    </div>
                    <div class="row">
                        <p class="card-text description">{{ p.description }}</p>
                        <p class="card-text price"><b> Disponible: {{ p.stock }}</b></p>
                    </div>
                    <div class="row">
                        <p class="card-text price">Precio: ${{ p.price }}</p>
                    </div>
                </div>
                <div class="card-footer" style="text-align: center">
                    <a href="{% url 'product_detail' p.id %}" class="btn btn-default bg-primary-3 view-detail-btn"
                        data-product-id="{{ p.id }}">Ver Detalle</a>
                    <a href="{% url 'Add' p.id %}"
                        class="btn btn-default bg-primary-3 view-detail-btn add-to-cart-btn">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}