{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<title>Cambiar Contraseña</title>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container my-5" style="max-width: 600px;">
    <div class="card my-5">
        <div class="card-body">
            <h2 class="text-center">Cambiar Contraseña</h2>
            <hr>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
