{% extends 'app/base.html' %}

{% load static %}
{% block title %}Conejo Furioso{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<!-- container para el carrousel -->
<div class="mb-4">
  <div class="d-flex justify-content-center align-items-center">
    <img src="{% static 'app/img/portada.png' %}" class="carousel d-block w-100 image" alt="...">
    <div class="text-overlay">
      <h2>BIENVENIDO</h2>
      <h1>CONEJO FURIOSO</h1>
      <h3>Descubre la deliciosa cerveza de Villa Alemana</h3>
    </div>
  </div>
</div>
<!-- aca termina el carrousel -->
{% load humanize %}
<!-- seccion cards/productos destacados -->
<h1 class="text-center pb-4 mb-5">NUESTRAS VARIEDADES</h1>
<div class="container" width="800px">
  <div class="row">
    {% for p in products %}
    <div class="col-md-6 mb-4"> <!-- Cambiado a col-md-6 para 2 cards por fila -->
      <div id="container-homecards">

        <!-- Start Product details -->
        <div class="product-details">

          <!-- Product Name -->
          <h1>{{ p.name | upper }}</h1>
          <!-- the Product rating -->
          <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>

          <!-- The most important information about the product -->
          <p class="information">{{ p.description}}</p>

          <!-- Control -->
          <div class="control">
            <!-- Start Button buying -->
            <button class="btn">
              <!-- the Price -->
              <span class="price"> ${{ p.price | intcomma }}</span>
              <!-- shopping cart icon-->
              <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
              <!-- Buy Now / ADD to Cart-->
              <a href="{% url 'product_detail' p.id %}" class="buy" data-product-id="{{ p.id }}">Comprar</a>
            </button>
            <!-- End Button buying -->
          </div>
        </div>
        <!-- End Product details -->

        <!-- Start product image & Information -->
        <div class="product-image">

          {% if p.image %}
          <img src="{{ p.image }}" alt="Missing photo" class="img-fluid"> <!-- Clase img-fluid para responsividad -->
          {% else %}
          <div class="missing-image">Imagen no disponible</div>
          {% endif %}
          <!-- product Information-->
          <div class="info">
            <h2>Descripción</h2>
            <ul>
              <li><strong>Ingredientes: </strong>Lúpulo, malta, agua, levadura</li>
              <li><strong>Grados alcohólicos: </strong>6.5% ABV</li>
              <li><strong>Variedad: </strong>IPA</li>
              <li><strong>Temperatura de servicio: </strong>7-9°C</li>
            </ul>
          </div>
        </div>
        <!-- End product image -->

      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- seccion quienes somos -->
<h1 class="text-center py-5">CONOCE MÁS ACERCA DE NOSOTROS</h1>
<div class="gradient-container">
  <div class="d-flex justify-content-center align-items-center">
    <img class="img-aboutus lazyload" width="100%" data-src="{% static 'app/img/aboutus.png' %}" alt="">
  </div>
</div>


<!-- SERVICIOS -->
<h1 class="text-center py-5">NUESTROS SERVICIOS</h1>
<div class="container pb-5 mt-5">
  <a href="http://127.0.0.1:8000/catalogue/?name=&category=2&min_price_filter=&max_price_filter=&filter_submit=">
    <figure>

      <img src="{% static 'app/img/cervezas.jpg' %}" alt="Cerveza Artesanal" style="width: 100%; height: 400px;">
      <figcaption>Compra Cervezas</figcaption>

    </figure>
  </a>
  <a href="{% url 'rental_service' %}">
    <figure style="--c:#fff5">

      <img src="{% static 'app/img/barriles.jpg' %}" alt="Barril Cervecero" style="width: 100%; height: 400px;">
      <figcaption>Arrienda Barriles</figcaption>

    </figure>
  </a>
</div>


<!-- sección productos nuevos -->
<div class="container">
  <section class="pb-5">
    <h1 class="text-center py-5">PRODUCTOS NUEVOS</h1>
    <div class="row justify-content-center">
      {% for p in products %}
      {% if p.is_new %}
      <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
        <div class="card card-home">
          <a href="{% url 'product_detail' p.id %}" class="card-link">
            {% if p.image %}
            <img src="{{ p.image }}" class="card-img-top" alt="...">
            {% else %}
            <div class="missing-image">Imagen no disponible</div>
            {% endif %}
          </a>
          <div class="card-body d-flex flex-column align-items-center">
            <div class="text-center">
              <h5 class="card-title">{{ p.name | upper }}</h5>
            </div>
            <div class="mt-auto text-center">
              <p class="card-text price"><b> Disponible: {{ p.stock }}</b></p>
              <p class="card-text price"><b> ${{ p.price | intcomma }}</b></p>
              {% if p.stock > 0 %}


              <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-outline-secondary" onclick="decreaseQuantity(this)">-</button>
                <input type="text" class="quantity form-control w-25 text-center mx-2" value="1" readonly>
                <button class="btn btn-outline-secondary" onclick="increaseQuantity(this)">+</button>
              </div>


              <a href="{% url 'Add' p.id %}" class="btn btn-default add-to-cart-btn">COMPRAR</a>

              {% else %}
              <h4 class="text-center"><b>Sin Stock</b></h4>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app/js/product_detail.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.0/lazysizes.min.js" async=""></script>

<script>function decreaseQuantity(button) {
  // Encuentra el input correspondiente al botón presionado
  const quantityInput = button.closest('.card-body').querySelector('.quantity');
  let currentQuantity = parseInt(quantityInput.value);
  if (currentQuantity > 1) {
      quantityInput.value = currentQuantity - 1;
  }
}

function increaseQuantity(button) {
  // Encuentra el input correspondiente al botón presionado
  const quantityInput = button.closest('.card-body').querySelector('.quantity');
  let currentQuantity = parseInt(quantityInput.value);
  quantityInput.value = currentQuantity + 1;
}
</script>


{% endblock %}