{% extends 'app/base.html' %}

{% load static %}

{% block title %}Conejo Furioso{% endblock %}

{% block css %}
<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        max-width: 100%; /* Evita que el contenido se salga del contenedor */
    }

    .success-message {
        background-color: #f8f9fa; /* Fondo claro para resaltar el mensaje */
    }

    .payment-options {
        background-color: #ffffff; /* Fondo blanco para contraste */
    }

    .row {
        margin-top: 20px; /* Separación superior */
    }

    @media (max-width: 576px) {
        .card {
            margin-bottom: 20px; /* Separación entre tarjetas en pantallas pequeñas */
        }
    }

    .totals {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    #content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; /* Ajusta para evitar un diseño demasiado alto */
        margin: 80px auto 0; /* Agrega un margen superior de 80px */
        padding: 20px;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%; /* La tabla ocupa todo el ancho del contenedor */
        max-width: 100%; /* No excede el ancho del contenedor */
        margin: 0 auto;
        background: linear-gradient(145deg, #f8f9fa, #e9ecef);
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .table th,
    .table td {
        padding: 15px; /* Mayor espacio interno */
        text-align: center; /* Centrar contenido */
        border-bottom: 1px solid #ddd; /* Bordes internos sutiles */
        font-size: 1rem;
        font-family: 'Arial', sans-serif; /* Fuente clara y moderna */
    }
    
    .table thead th {
        background-color: #000000; /* Fondo negro */
        color: #ffffff; /* Texto blanco */
        font-weight: bold; /* Resaltado */
        text-transform: uppercase; /* Letras capitales */
        letter-spacing: 1px; /* Separación entre letras */
        border-bottom: 2px solid #333333; /* Línea fuerte debajo de cabecera */
    }
    
    .table tbody tr {
        transition: background-color 0.3s ease; /* Transición suave al pasar el cursor */
    }
    
    .table tbody tr:nth-child(even) {
        background-color: #f8f9fa; /* Fondo alternado */
    }
    
    .table tbody tr:hover {
        background-color: #d6eaff; /* Fondo al pasar el cursor */
    }
    
    .table tfoot th {
        background-color: #f1f1f1; /* Fondo claro */
        font-weight: bold;
        color: #333; /* Color del texto */
        font-size: 1.1rem; /* Fuente ligeramente más grande */
    }
    
    .client-info {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f8f9fa;
        font-size: 1rem;
        line-height: 1.5;
    }
    .client-info h3 {
        margin-bottom: 15px;
        font-size: 1.25rem;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
    }
    .client-info p {
        margin: 5px 0;
        color: #333;
    }

    .order-number {
        font-size: 1.25rem; /* Tamaño de letra grande */
        font-weight: bold; /* Texto en negrita */
        color: #007bff; /* Color azul para resaltar */
        margin-bottom: 15px; /* Separación inferior */
        text-align: center; /* Centrado */
        text-transform: uppercase; /* Mayúsculas */
    }
    
    .order-number span {
        color: #000; /* Contraste para el número */
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container" id="content-wrapper">
    <div class="row">
        <!-- Card 1: Mensaje de éxito -->
        <div class="col-12 col-md-8">
            <div class="card success-message">
                <h1>Orden de compra exitosa</h1>
                <p>¡Solo un poco más! ¡Elijamos el medio de pago para esa orden!</p>
                <p class="order-number"><strong>Número de Orden:</strong> <span>#{{ order.order_id }}</span></p>
        
                <!-- Tabla de detalles de la orden -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                        <tr>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.product_price }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total (CLP):</th>
                            <th id="cart-total-clp"></th>
                        </tr>
                        <tr>
                            <th colspan="3">Total (USD):</th>
                            <th id="cart-total-usd"></th>
                        </tr>
                    </tfoot>
                </table>                                

                <!-- Información del cliente -->
                <div class="client-info mt-4">
                    <h3>Información del Cliente</h3>
                    <p><strong>Nombre Completo:</strong> {{ client_data.name }}</p>
                    <p><strong>Email:</strong> {{ client_data.email }}</p>
                    <p><strong>Región:</strong> {{ client_data.region }}</p>
                    <p><strong>Comuna:</strong> {{ client_data.municipality }}</p>
                    <p><strong>Dirección:</strong> {{ client_data.address }}</p>
                    <p><strong>Teléfono:</strong> {{ client_data.phone }}</p>
                </div>
            </div>
        </div>        

        <!-- Card 2: Opciones de pago -->
        <div class="col-12 col-md-4">
            <div class="card payment-options">
                <h2>Opciones de Pago</h2>
                <div id="paypal-button-container"></div>
                <!-- Botón de Transbank -->
                <div class="text-center mt-4">
                    <form method="POST" action="{% url 'webpay_init' %}">
                        {% csrf_token %}
                        <input type="hidden" name="buy_order" value="{{ order.order_id }}">
                        <input type="hidden" name="amount" value="{{ order.accumulated }}">
                        <input type="hidden" name="session_id" value="{{ request.session.session_key }}">
                        <button type="submit" class="btn btn-primary">Pagar con Webpay</button>
                    </form>
                </div>
                <div class="text-center mt-4">
                    <a href="{% url 'buy_confirm' %}" class="btn btn-secondary">Prueba Compra</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AdFjGOwJCh4h90IyhB_vGCkDbSfakAD6IitR2qFxPOgTtY4Yrd9z_-ycN6ITScW8rqkiDh7EDtOZ8eFs"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: convertToUSD('{{ cart_total }}')
                    }
                }]
            });
        },
        onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
                const transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Pago exitoso');
                console.log(`Transaction ${transaction.status}: ${transaction.id}`);
                actions.redirect('home');
            });
        }
    }).render('#paypal-button-container');

    // Calcula y muestra el total en USD
    function convertToUSD(totalCLP) {
        var conversionRate = 0.00124; // Tasa de conversión
        var totalUSD = totalCLP * conversionRate;
        return totalUSD;
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Obtener el total en CLP desde la variable de contexto
        var totalCLP = parseInt("{{ cart_total|default:'0' }}") || 0;

        // Calcular el total en USD llamando a la función de conversión
        var totalUSD = convertToUSD(totalCLP);

        // Mostrar los totales en la página
        document.getElementById("cart-total-clp").textContent = totalCLP.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' });
        document.getElementById("cart-total-usd").textContent = totalUSD.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
    });
</script>
{% endblock %}
