{% extends 'app/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}
<br><br><br>
<div class="container my-5">
    <div class="container rounded shadow" style="background-color: white;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Gráfico de torta -->
                <div class="chart-container">
                    <canvas id="topProductsChart"></canvas>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <!-- GRÁFICO ORDENES DE USUARIO -->
                <div class="chart-container">
                    <canvas id="userOrdersChart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <!-- GRÁFICO VENTAS X MES -->
                <div class="chart-container">
                    <canvas id="monthlySalesChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- ROW DE INDICADORES -->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Órdenes</h5>
                    <p class="card-text">{{ total_orders_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Órdenes Pagadas</h5>
                    <p class="card-text">{{ paid_orders_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Órdenes No Pagadas</h5>
                    <p class="card-text">{{ unpaid_orders_count }}</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card">
        <div class="card-body">
            <h2 style="text-align: center;">Lista de Órdenes</h2>
            <hr>
            <div class="table-responsive">
                <!-- Formulario de filtros -->
                <form method="GET" action="{% url 'order_list' %}">
                    <div class="row mt-1 mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="start_date">Fecha inicial:</label>
                                <input type="date" id="start_date" name="start_date" class="form-control"
                                    value="{{ request.GET.start_date }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="end_date">Fecha final:</label>
                                <input type="date" id="end_date" name="end_date" class="form-control"
                                    value="{{ request.GET.end_date }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="order_item_name">Nombre de OrderItem:</label>
                                <input type="text" id="order_item_name" name="order_item_name" class="form-control"
                                    value="{{ request.GET.order_item_name }}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group mt-4">
                                <button class="btn btn-default bg-primary-3 form-control" type="submit">Filtrar</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mt-4">
                                <a href="{% url 'order_list' %}"
                                    class="btn btn-default bg-primary-3 add-to-cart-btn form-control">Limpiar
                                    filtros</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Fin del formulario de filtros -->

                <table id="productTable" class="table table-striped table-hover table-responsive-sm">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Número de orden</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Total Orden</th>
                            <th scope="col">Pagado</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Order Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in entity %}
                        <tr>
                            <td>{{ o.user.username|default:"N/A" }}</td>
                            <td>{{ o.order_id }}</td>
                            <td>{{ o.name|default:"N/A" }}</td>
                            <td>{{ o.address|default:"N/A" }}</td>
                            <td>{{ o.phone|default:"N/A" }}</td>
                            <td>{{ o.accumulated | intcomma }}</td>
                            <td>{% if o.pagado %}Sí{% else %}No{% endif %}</td>

                            <td>{{ o.fecha }}</td>
                            <td>
                                <ul>
                                    {% for item in o.orderitem_set.all %}
                                    <li>{{ item.product_name }} - Cantidad: {{ item.amount }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <style>
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        background-color: #ffffff;
                        border: 1px solid #000000;
                    }

                    th,
                    td {
                        text-align: left;
                        padding: 8px;
                        border: 1px solid #000000;
                    }

                    th {
                        background-color: #f2f2f2;
                    }
                </style>
                <div class="total-accumulated">
                    <table>
                        <tr>
                            <th scope="col">Total acumulado de todas las órdenes</th>
                            <td>$ {{ total_accumulated }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Total de productos vendidos</th>
                            <td>{{ total_products_sold }}</td>
                        </tr>
                    </table>
                </div>
                <div class="top-products">
                    <h3>Productos más vendidos:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Nombre del producto</th>
                                <th scope="col">Cantidad vendida</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in top_products %}
                            <tr>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.total_amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- CARDS DASHBOARD -->


                <hr>
                <div>
                    {% include 'app/paginator.html' %}
                </div>
                <br>
                <div class="row list-buttons">
                    <div class="col">
                        <button class="btn btn-default bg-primary-3" type="button"
                            onclick="window.location.href='{% url 'home' %}'">Volver al Inicio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button onclick="confirmDownload()"
        style="margin-top: 20px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
        Descargar Reporte en Excel
    </button>

    <!-- SCRIPT EXCEL DOWNLOAD -->
    <script>
        function confirmDownload() {
            const userConfirmed = confirm("¿Estás seguro de que deseas descargar el reporte en Excel?");
            if (userConfirmed) {
                window.location.href = "/generate-excel/";
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!-- SCRIPT GRÁFICO DE TORTA -->
    <script>
        const labels = [
            {% for product in top_products %}
        "{{ product.product_name }}",
            {% endfor %}
        ];

        const data = [
            {% for product in top_products %}
        {{ product.total_amount }},
        {% endfor %}
        ];

        const ctx = document.getElementById('topProductsChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Productos más vendidos',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'bottom', // Cambia la posición de la leyenda
                        labels: {
                            color: '#333', // Color de la fuente
                            font: {
                                size: 14, // Tamaño de la fuente
                                family: 'Trebuchet MS', // Fuente

                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'PRODUCTOS MÁS VENDIDOS',
                        font: {
                            size: 18,
                            family: 'Trebuchet MS',
                            weight: 'bold'
                        },
                        color: '#000'
                    }
                }
            }
        });
    </script>

    <!-- SCRIPT VENTAS X USUARIO -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userLabels = [
                {% for user in user_totals %}
                    "{{ user.user__username|escapejs }}",
            {% endfor %}
            ];

        const userTotals = [
            {% for user in user_totals %}
        {{ user.total_accumulated }},
        {% endfor %}
            ];

        const userCtx = document.getElementById('userOrdersChart').getContext('2d');
        new Chart(userCtx, {
            type: 'bar',
            data: {
                labels: userLabels,
                datasets: [{
                    label: 'Totales por Usuario (Top 10)',
                    data: userTotals,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false // Ocultar la leyenda para este gráfico
                    },
                    title: {
                        display: true,
                        text: 'TOTALES POR USUARIO (TOP 10)',
                        font: {
                            size: 18,
                            family: 'Trebuchet MS',
                            weight: 'bold'
                        },
                        color: '#000'
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#333',
                            font: {
                                size: 12,
                                family: 'Trebuchet MS'
                            }
                        }
                    },
                    x: {
                        ticks: {
                            color: '#333',
                            font: {
                                size: 12,
                                family: 'Trebuchet MS'
                            }
                        }
                    }
                }
            }
        });
        });
    </script>

    <!-- SCRIPT VENTAS X MES -->
    <script>
        const monthLabels = {{ month_labels| safe }};
        const monthlyData = {{ monthly_sales| safe }};

        const monthCtx = document.getElementById('monthlySalesChart').getContext('2d');
        new Chart(monthCtx, {
            type: 'line',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: 'Órdenes por mes',
                    data: monthlyData,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                        labels: {
                            color: '#333',
                            font: {
                                size: 14,
                                family: 'Trebuchet MS',
                                weight: 'bold'
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'ÓRDENES POR MES',
                        font: {
                            size: 18,
                            family: 'Trebuchet MS',
                            weight: 'bold'
                        },
                        color: '#000'
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#333',
                            font: {
                                size: 12,
                                family: 'Trebuchet MS'
                            }
                        }
                    },
                    x: {
                        ticks: {
                            color: '#333',
                            font: {
                                size: 12,
                                family: 'Trebuchet MS'
                            }
                        }
                    }
                }
            }

        });
    </script>
</div>
{% endblock %}